<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Formulário de Cadastro</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/materialize/css/materialize.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="/css/materialize.min.css"  media="screen,projection"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<style type="text/css">
    table.striped>tbody>tr:nth-child(odd){
        background-color: rgba(158, 154, 154, 0.5);
    }
    form input[type=submit]{
        color: white;
    }
</style>
<body>
<h3>Spring Boot + ThymeLeaf + Material Design Lite</h3>
<h5> Cadastro de Pessoas</h5>

<a class="wa ves-effect waves-light btn" href="/cadastroPessoa"> Cadastro Pessoa</a>
<div th:each="p : ${pessoaObj}">
    <div class="row">
        <p>ID: <span th:text ="${p.id}"></span></p>
        <p>Nome: <span th:text="${p.nome}"></span></p>
        <p>Sobrenome: <span th:text="${p.sobrenome}"></span></p>
        <p>Idade: <span th:text="${p.idade}"></span></p>
    </div>
</div>

<h5 >Telefones</h5>
<div class="row">
    <form action="@{/addFonePessoa/{pessoaid}(pessoaid=${pessoaObj.id})}"
          method="post" class="col s12">
        <div class="row">
            <div class="input-field col s6">
                <label class="active" for="numero">Número:</label>
                <input id="numero" name="numero" class="validate">
            </div>
            <div class="input-field col s6">
                <label class="active" for="tipo">Tipo:</label>
                <input id="tipo" name="tipo" class="validate">
            </div>

            <input type="submit" value="Adicionar" class="wa ves-effect waves-light btn">
        </div>
    </form>
</div>
<script type="text/javascript" src="/materialize/js/materialize.js"></script>
<script type="text/javascript" src="/materialize/js/materialize.min.js"></script>
</body>
</html>