<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Início</title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="materialize/css/materialize.css"  media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
</head>
<body>
    <h1> Olá SpringBoot</h1>
    <a href="/cadastroPessoa"> Cadastro Pessoa</a>
        <script type="text/javascript" src="materialize/js/materialize.js"></script>
        <script type="text/javascript" src="materialize/js/materialize.min.js"></script>
</body>
</html>